<%= form_for(@smstext) do |f| %>
  <% if @smstext.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@smstext.errors.count, "error") %> prohibited this smstext from being saved:</h2>

      <ul>
      <% @smstext.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :recipient %><br />
    <%= f.number_field :recipient %>
  </div>
  <div class="field">
    <%= f.label :smsmessage %><br />
    <%= f.text_area :smsmessage %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
